streamlit 
sentence-transformers 
langchain 
langchain-chroma
langchain-community 
beautifulsoup4 
langchain_groq
torch
protobuf==4.21.12
opentelemetry-api==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-exporter-otlp==1.20.0
chromadb==0.3.1
